<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Portfolio</title>
  </head>
  <body>
    <!--Main Section-->
    <div class='about'>
      <div class='container'>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
  	         <%= image_tag("20140713_180412.jpg", id: "memage", alt: "George Kolovos") %>
           </div>
           <div class="col-lg-4">
             <h2>Hi, I'm <span class="highlight">George Kolovos</span>.</h2>
             <p>Almost 29, I've been working on telecommunications for the last four years
               and my primary responsibility is routing digital circuits.</p><br><br>
             <p>Over time, I notice myself showing an undeniable interest in programming languages.
               I love the freedom I am given to create websites, games and other applications.</p>
           </div>
         </div>
       </div>
     </div>
  </body>
</html>
