<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Portfolio</title>
  </head>
  <body>
<!--Main Section-->
<div class='about'>
  <div class='container'>
  	<img src="https://images-eu.ssl-images-amazon.com/images/I/51nRZYJuQqL._AA300_.jpg" rel="Sir George">
  	<ul>
      <li>1. "Football, bloody hell" (After United's dramatic Champions League victory over Bayern Munich in 1999)</li>
			<li>2. 'At the end of this game, the European Cup will be only six feet away from you, and youll not even able to touch it if we lose. And for many of you, that will be the closest you will ever get. Dont you dare come back in here without giving your all.' (1999 European Cup final with Bayern Munich, half-time team-talk)</li>
			<li>3. "The work of a team should always embrace a great player but the great player must always work."</li>
			<li>4. "You can't applaud a referee."</li>
			<li>5. "I remember the first time I saw him. He was 13 and just floated over the ground like a cocker spaniel chasing a piece of silver paper in the wind." (On Giggs)</li>
    </ul>
  </div>
</div>
  </body>
</html>