<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Portfolio</title>
  </head>
  <body>
    <!--Main Section-->
    <div class='about'>
      <div class='container'>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-2">
  	         <%= image_tag("code-wallpaper-8.jpg", id: "memage", alt: "George Kolovos") %>
           </div>
           <div class="col-lg-4">
             <h2>Hi, I'm <span class="highlight">George Kolovos</span>.</h2>
             <p>I've been working on telecommunications for the last four years
               and my primary responsibility is routing digital circuits.</p><br>
             <p>Over time, I notice myself showing an undeniable interest in programming languages.
               I love the freedom I am given to create websites, games and other applications. I tried
                myself with different programming languages of different categories like WEB languages(HTML,CSS,JS) and
              practical languages(python,ruby). Now, I'm mostly busy with Ruby on Rails, because I find it very interesting to
              be involved from the back-end to the front-end and all intermediates.</p>
           </div>
         </div>
       </div>
     </div>
  </body>
</html>
