<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Portfolio</title>
  </head>
  <body>
    <!--Main Section-->
    <div class='contact'>
      <div class='container'>
        <h2>Contact me</h2>
        <div class="row">
          <div class="col-lg-12">
            <ul>
               <li class="col-lg-4"><a href='https://github.com/Gilewn'><img src='https://image.flaticon.com/icons/png/128/25/25231.png' alt='github-logo' width='125' height='125'></a></li>
               <li class="col-lg-4"><a href='https://www.linkedin.com/feed/?trk=uas-consumer-login-internal-join-lnk'><img src='https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico' alt='linkedin-logo' width='125' height='125'></a></li>
               <li class="col-lg-4"><a href='https://plus.google.com/u/0/'><img src='http://www.idestudiodontoiatrici.it/wp-content/uploads/2015/01/GooglePlus_logo.png' alt='google-plus-logo' width='125' height='125'></a></li>
             </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
