<!--Main Section-->
<div class='main'>
  <div class='container'>
  	<p>I'm George and now I'm learning, so...</p>
  	<a href='#' class='btn'><%= link_to 'View my Work', 'pages/portfolio' %></a>
  </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 372e2fbc7ec37bd0b6fc59f362deec45192f89fc
