<!--Main Section-->
<div class="jumbotron">
  <div class='container'>
    <div class="row">
      <div class="col-lg-12">
  	   <h1>I'm <span class="highlight">George</span>, I love the vast world of programming and in particular Back-End Web Development.</h1>
  	   <a href='/pages/portfolio' class='btn btn-primary btn-lg' role="button">View my Work</a>
     </div>
    </div>
  </div>
</div>
