<!--Main Section-->
<div class='main'>
  <div class='container'>
  	<p>I'm George and now I'm learning, so...</p>
  	<a href='#' class='btn'><%= link_to 'View my Work', 'pages/portfolio' %></a>
  </div>
</div>