<!--Header Section-->
<div class='header'>
    <div class='nav'>
      <ul class='nav_bar'>
        <li>Welcome</li>
        <li>Portfolio</li>
        <li>Blog</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
      <div class='name'>
        <p>Sir George Kolovos-Gkezerlis</p>
    </div>
  </div>
</div>
<!--Main Section-->
<div class='main'>
  <div class='container'>
  	<p>I'm George and now I'm learming, so...</p>
  	<a href='#' class='btn'>View my Work</a>
  </div>
</div>
<!--Footer-->
<div class='footer'>
  <div class='container'>
   <ul>
      <li><a href='#'><img src='https://image.flaticon.com/icons/png/128/25/25231.png' alt='github-logo' width='25' height='25'></a></li>
      <li><a href='#'><img src='https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico' alt='linkedin-logo' width='25' height='25'></a></li>
    </ul>
    <p>&copy;Gilewnas</p>
    <div class='tax'>Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div class='tax'>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </div>
</div>