// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Header */

#name {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  display: inline;
  color: #DAA520;
  font-size: 20px;
  float: right;
  background-color: #191970;
  border: 2px solid #C0C0C0;
  border-radius: 25px;
  padding: 0 15px;
}

/* Footer */

.footer {
  height: 100px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.footer li {
  display: inline;
  padding: 5px;
  float: right;
}

.footer .copy {
  color: 	#191970;
  text-align: right;
}

.footer .tax {
  color: 	#191970;
  font-size: 10px;
	position: relative;
  bottom: -15px;
}

/* Welcome Page */

.jumbotron {
  margin-top: -20px;
  margin-bottom: 0;
  padding: 0;
  height: 480px;
  background-image: url('http://www.creativehdwallpapers.com/uploads/large/background/cool-wallpapers-background-hd-wallpaper.jpg');
}

.container {
  text-align: center;
}

.row {
  padding-top: 50px;
}

.jumbotron h1 {
  color: #fffff0;
}

.highlight {
  color: #191970;
  background-color: #fffff0;
}

.jumbotron a {
  color: #191970;
  background-color: #fffff0;
}

/* Portfolio Page */

.banner {
  margin: 20px;
}

.banner li {
  text-align: center;
}

.grid {
  background-color: #fff;
  margin: 30px auto;
  width: 98%;
  border: 2px solid #C0C0C0;
  border-radius: 25px;
}

.grid ul {
  border: none;
}

.grid p {
  text-align: justify;
}

/* About Page */

#memage {
  width: 300px;
  height: 450px;
}

.about {
  background-color: #fff;
  margin: 30px auto;
  width: 98%;
  border: 2px solid #C0C0C0;
  border-radius: 25px;
  padding-bottom: 20px;
}
.about h2 {
  font-size: 30px;
  border-bottom: 2px solid #191970;
}

.about p {
  font-size: 17px;
  font-weight: 300;
}
 /* Contact Page */

.contact {
  height: 460px;
}

.contact h2 {
  text-align: center;
  font-size: 30px;
  border-bottom: 2px solid #191970;
}

.contact li {
  list-style: none;
}
